<h1 mat-dialog-title>{{actionBtn}} запись</h1>
<div mat-dialog-content>
  <form #f="ngForm" [formGroup]="form" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Тип</mat-label>
      <mat-select formControlName="passtype">
        <mat-option></mat-option>
        <mat-option value="Экзамен">Экзамен</mat-option>
        <mat-option value="Зачет">Зачет</mat-option>
        <mat-option value="Выпускная работа">Выпускная работа</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['passtype'].errors?.['required']">Выбрать обязательно!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Количество часов</mat-label>
      <input matInput type="number" formControlName="totalhours" placeholder="Поле ввода...">
      <mat-error *ngIf="form.controls['totalhours'].errors?.['required']">Заполнение обязательно!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Семестр</mat-label>
      <input matInput type="number" formControlName="semester" placeholder="Поле ввода...">
      <mat-error *ngIf="form.controls['semester'].errors?.['required']">Заполнение обязательно!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Предмет</mat-label>
      <mat-select formControlName="subjectidfk">
        <mat-option></mat-option>
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
          {{subject.subjectname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Преподаватель</mat-label>
      <mat-select formControlName="teacheridfk">
        <mat-option></mat-option>
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
          {{teacher.fio}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" (click)="onClose()" mat-dialog-close>Закрыть</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">{{actionBtn}}</button>
</div>
