<div id="app" class="wrapper">
  <mat-toolbar color="primary" class="navbar">
  <span>
    <a href="/" class="univ-link">Университет</a>
  </span>
    <span class="spacer"></span>
    <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
    <div *ngIf="isLoggedIn">
      <a mat-button routerLink="/subject" routerLinkActive="active">Предметы</a>
      <a mat-button routerLink="/teacher" routerLinkActive="active">Преподаватели</a>
      <a mat-button routerLink="/student" routerLinkActive="active">Студенты</a>
      <a mat-button routerLink="/exam" routerLinkActive="active">Экзамены</a>
    </div>
    <div *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login" routerLinkActive="active">Логин</a>
      <a mat-button routerLink="/register" routerLinkActive="active">Регистрация</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-button routerLink="/profile" routerLinkActive="active">Профиль</a>
      <a mat-button href (click)="logout()" routerLinkActive="active">Выйти</a>
    </div>
  </mat-toolbar>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar color="primary" class="footer">
    <div class="container d-flex align-items-center justify-content-center">
      ©2022 University by Tyshkun Andrey
    </div>
  </mat-toolbar>
</div>
