<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title *ngIf="!currentUser.role">Добро пожаловать!</mat-card-title>
    <mat-card-title *ngIf="currentUser.role">Добро пожаловать, {{currentUser.login}}!</mat-card-title>
  </mat-card-header>
  <img mat-card-image style="max-height: 270px;" src="https://russiaedu.ru/media/cache/image_md_resize/uploads/upload-images/2020/05/11/-wHoM0DmXdQ.jpg" alt="Фото пользователя">
  <mat-card-content>
    <mat-card-title>Вы попали на страницу университета!</mat-card-title>
    <mat-card-title *ngIf="currentUser.role">Так как ваша роль: {{currentUser.role}}.</mat-card-title>
    <mat-card-title *ngIf="!currentUser.role">Здесь вы сможете просматривать и выставлять оценки студентам по предметам в период сессии.</mat-card-title>
    <mat-card-title *ngIf="currentUser.role?.toUpperCase()==='ROLE_ADMIN'">Вам разрешено делать все что вам пожелается:
      добавлять, изменять и удалять все записи.</mat-card-title>
    <mat-card-title *ngIf="currentUser.role?.toUpperCase()==='ROLE_USER'">Вам разрешено только просматривать
      информацию о внесенных записях.</mat-card-title>
  </mat-card-content>
</mat-card>
